.footer__author {
    grid-area: author;
    display: flex;
    align-items: self-end;
    font-size: 16px;
}

@media screen and (max-width:863px) {
    .footer__author {
        margin-bottom: 50px;
    }
}