.body {
    width: 100%;
    font-family: 'Open Sans';
}

body._lock {
    overflow: hidden;
}

body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}