.lab__photos-img {
  width: 264px;
  height: 276px;
  border-radius: 10px;
  margin-right: 12px;
}

.lab__photos-img:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1439px) {
  .lab__photos-img {
    display: none;
  }
}