.lab__content {
  display: flex;
  margin-top: 60px;
}

@media screen and (max-width: 1439px) {
  .lab__content {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 240px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .lab__content {
    margin-top: 20px;
    grid-template-rows: repeat(2,180px);
    grid-template-columns: 1fr;
    gap: 20px;
  }
}