.news-item__title {
    font-style: normal;
    font-weight: 600;
    color: #001337;
    margin: 0 0 24px;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 19px;
    max-width: 256px;

}

@media screen and (min-width: 768px) {
    .news-item__title {
        font-size: 18px;
        line-height: 30px;
        max-width: 290px;
        max-height: 85px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .news-item__title {
        max-width: 310px;
    }
}