.news-item__title {
    font-style: normal;
    font-weight: 600;
    color: #001337;
    border-bottom: 1px solid #009FAC;
    margin: 0;
    /* text-overflow: ellipsis; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 19px;
    max-width: 256px;
    padding-bottom: 12px;
    margin-bottom: 12px;

}

@media screen and (min-width: 768px) {
    .news-item__title {
        font-size: 18px;
        line-height: 30px;
        max-width: 290px;
        height: 80px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .news-item__title {
        max-width: 310px;
    }
}