.footer__column_content_center {
    margin-left: 22%;
}

@media (max-width:1280px) {
    .footer__column_content_center {
        margin-left: calc(20% - 10%);
    }
}

@media (max-width:768px) {
    .footer__column_content_center {
        margin-left: 0px;
        margin-top: 93px;
    }
}

@media (max-width:768px) {
    .footer__column_content_center {
        margin-left: 0px;
        margin-top: 0px;
        align-self: center;
    }
}

@media (max-width:320px) {
    .footer__column_content_center {
        margin-left: 10px;
    }
}