.education__container {
    max-width: 1440px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 1024px) {
    .education__container {
        max-width: 768px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .education__container {
        max-width: 320px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
/* @media screen and (min-width: 320px) {
    .education__container {
        max-width: 320px;
        background: url(../../../images/backgroun-mobile.png) no-repeat;
        background-size: cover;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .education__container {
        max-width: 768px;
        background: url(../../../images/background-tablet.png) no-repeat;
        background-size: cover;
        flex-direction: column;
    }
} */