.element__sub-link {
    display: flex;
    margin: 0;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .element__sub-link {
        max-width: 115px;
    }
}

@media (max-width: 768px) {
    .element__sub-link {
        max-width: 104px;
    }
}

/* .element__sub-link:hover {
    animation: 3s linear 1s infinite alternate slidein;
    animation: elemen__sub-link 1s linear infinite;
}

@keyframes element__sub-link {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
} */