.popup__descr-text {
  margin: 0;
  margin-top: 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: #000000;
}

@media screen and (max-width: 1439px) {
  .popup__descr-text {
    font-size: 14px;
    line-height: 19px;
    margin-top: 27px;
  }
}

@media screen and (max-width: 767px) {
  .popup__descr-text {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }
}