.popup__image {
  width: 400px;
  height: 678px;
  border-radius: 10px;
}

@media screen and (max-width: 1439px) {
  .popup__image {
    width: 199px;
    height: 414px;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .popup__image {
    width: 268px;
    height: 160px;
    grid-row-start: 2;
    margin-top: 10px;
  }
}