.footer__logo {
    background-image: url(../../images/Logo_footer.svg);
    width: 150px;
    height: 54px;
    background-repeat: no-repeat;
    grid-area: logo;
}

@media screen and (max-width:425px) {
    .footer__logo {
        background-image: url(../../images/Logo_small.svg);
        width: 98px;
        height: 33px;
    }
}

@media screen and (max-width:320px) {
    .footer__logo {
        margin-top: 40px;
        margin-left: 14px;
    }
}