.lab__card-logo {
  background-color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 34px 34px;
}

.lab__card-logo-analysis {
  background-image: url(../../../images/logo/analysis.svg);
}

.lab__card-logo-infrastructure {
  background-image: url(../../../images/logo/infrastructure.svg);
}

.lab__card-logo-calculations {
  background-image: url(../../../images/logo/calculations.svg);
}

.lab__card-logo-QA {
  background-image: url(../../../images/logo/QA.svg);
}

@media screen and (max-width: 1439px) {
  .lab__card-logo {
    width: 41px;
    height: 41px;
    background-size: 20px 20px;
  }
}