.footer__social-links {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 14px;
    margin-left: 29px;
}

@media screen and (max-width:768px) {
    .footer__social-links {
        margin-top: 47px;
        margin-left: 10px;
    }
}