.popup__descr-title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #000D26;
}

@media screen and (max-width: 1439px) {
  .popup__descr-title {
    font-size: 14px;
    line-height: 19px;
  }
}


