.lab__descr-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #000D26;
  }

@media screen and (max-width: 1439px) {
  .lab__descr-text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .lab__descr-text {
    font-size: 12px;
    line-height: 16px;
  }
}

