.lab {
  background: #E0F0FF;
  padding: 80px 165px;
  min-height: 914px;
  /*background: #E0F0FF;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;*/
}

@media screen and (max-width: 1439px) {
  .lab {
    padding: 60px 39px;
    min-height: 715px;
  }
}

@media screen and (max-width: 767px) {
  .lab {
    padding: 40px 16px;
  }
}