.lab__card-btn {
  padding: 10px 8px;
  width: 215px;
  height: 40px;
  background: transparent;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  z-index: 2;
}

.lab__card-btn:active:not(.hover) {
  border: 1px solid #009FAC;
  color: #009FAC;
  background: #fff;
} 

@media screen and (max-width: 1439px) {
  .lab__card-btn {
    width: 126px;
    height: 32px;
    font-size: 10px;
    line-height: 14px;
    padding: 9px 35px;
  }
}

@media screen and (max-width: 767px) {
  .lab__card-btn {
    width: 120px;
    font-size: 10px;
    line-height: 14px;
    padding: 9px 31px;
  }
}