.footer__main {
    width: 1110px;
    height: 418px;
    display: grid;
    grid-template-rows: 17% 73% 10%;
    grid-template-columns: 26% 55% 19%;
    grid-template-areas: "logo logo logo" "text column info" "author author author ";
}