.lab__card-title {
  margin: 0;
  max-width: 215px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .lab__card-title {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .lab__card-title {
    font-size: 10px;
    line-height: 14px;;
  }
}

