.lab__photos {
  display: flex;
  margin-left: 30px;
}

@media screen and (max-width: 1439px) {
  .lab__photos {
    background-image: url(../../../images/image\ 2.png);
    margin-left: 0;
    background-position: center;
    border-radius: 10px;
    background-size: cover;
  }
}